<html>

<head>
<title>Site Search</title>


<meta name="Microsoft Theme" content="flowlynx 011, default">
<meta name="Microsoft Border" content="tl, default">
</head>

<body background="back2.gif" bgcolor="#ffffff" text="#000000" link="#004080" vlink="#008000" alink="#800000">
<table border="0" cellpadding="0" cellspacing="0" width="92%">
  <tr> 
    <td valign="top" width="95"></td><!--msnavigation--> 
    <td valign="top" width="489"> 
      <div align="center"><font face="arial, Arial, Helvetica"><IMG height=69 src="logo1.gif" width=149> 
        </font> </div>
      <div align="center"></div>
      <font face="arial, Arial, Helvetica"> </font> 
      <p>&nbsp;</p>
      <p><font face="arial, Arial, Helvetica"><strong>      
         You may search the $title area&nbsp;for patterns.</strong></font></p>
      <form action="search.pl" method="post">
        <p><font face="arial, Arial, Helvetica"><b>Search for: </b> 
          <input name="keywords" value=$keyname >
          </font></p>
        <p> <font face="arial, Arial, Helvetica"> 
          <input type="submit" value="Start Search" name="submit">
          <input type="reset" value="Clear" name="reset">
          </font></p>
      </form>
      <font face="arial, Arial, Helvetica"> </font> 
      <p>&nbsp;</p>
    </td>
  </tr><!--msnavigation--> 
</table>
</body>
</html>
